/* * {
	border: 1px solid #f0f;
} */
body {
	background-color: rgba(242, 206, 218, 0.3);
	color: #0f0101;
	box-sizing: border-box;
	font-family: "Roboto", "sans-serif";
	margin: 0;
}
.container {
	border: 1px solid #000;
}
.menu-bar {
	display: none;
}
.menu-bar-icon {
	font-size: 30px;
	color: #000;
}
.header-item {
	list-style: none;
	padding: 0;
	width: 100%;
}
.header-list:not(:first-child) {
	padding-left: 40px;
}
.header-link {
	text-decoration: none;
	color: #150101;
	opacity: 0.6;
	font-size: 14px;
}
.header-home {
	text-decoration: none;
	font-size: 15px;
	color: #d23166;
	font-weight: bold;
}
.button {
	font-family: "Hind Madurai", sans-serif;
	color: #fafafa;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	padding: 14px 50px;
	background: #d23166;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: inline-flex;
	white-space: nowrap;
}
.article-cubic {
	position: relative;
}
.article-image {
	width: 100%;
	z-index: 2;
}
.article-image-ellipse {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 20%;
	width: 60%;
}
.article-image-plus {
	width: 100%;
	position: absolute;
	bottom: -12%;
	right: 5%;
	z-index: 3;
}
.article-description {
	font-weight: 500;
	font-size: 14px;
}
.article-title {
	font-family: "Fredoka One", sans-serif;
	opacity: 0.9;
	font-size: 57px;
	margin: 0;
}
.article-text {
	font-family: "Hind Madurai", sans-serif;
	font-size: 18px;
	line-height: 27px;
	opacity: 0.6;
	margin-top: 35px;
	margin-bottom: 50px;
	max-width: 528px;
}
.text-word {
	color: #d23166;
	opacity: 0.9;
}
